 
              <div class="col-md-2 static">
             
            </div>
            <div class="col-md-7">
                <div class="row">
                    <!--Search field -->
                    <app-search></app-search>
                    <!--Search field -->
                    
                   <!-- Post Content
                   ================================================= -->
                
                     <!--Post Date-->
                     <div class="post-date hidden-xs hidden-sm">
                       <h5>mEvents Support</h5>
                       <p class="text-grey">Sometimes ago
                     </div><!--Post Date End-->
     
                      <video class="post-video" controls> <source src="https://vimeo.com/257734164" type="video/mp4"> </video>
                     
      
                 </div>
 
            </div>
            
           
         