
      <!--Online user1-->
               <div class="row">
                    <a href="#">
                        <ul class="online-users list-inline">
                            <li><img src="assets/images/users/user-2.jpg" alt="user" class="img-responsive profile-photo-sm" /><span class="online-dot"></span></li>
                            <li>Ralph </li>
                        </ul>
                    </a>
               </div>
           
     <!--Online user2-->
                <div class="row">
                  <a href="#">
                      <ul class="online-users list-inline">
                        <li><img src="assets/images/users/user-3.jpg" alt="user" class="img-responsive profile-photo-sm" /><span class="online-dot"></span></li>
                        <li>Tsitsi</li>
                      </ul>
                  </a>
               </div>
   <!-- Online user3-->
                <div class="row">
                  <a href="#">
                      <ul class="online-users list-inline">
                      <li><img src="assets/images/users/user-4.jpg" alt="user" class="img-responsive profile-photo-sm" /><span class="online-dot"></span></li>
                      <li>Tonde</li>
                    </ul>
                  </a>
               </div>
    <!-- Online user4-->
               <div class="row">
                  <a href="#">
                    <ul class="online-users list-inline">
                      <li><img src="assets/images/users/user-7.jpg" alt="user" class="img-responsive profile-photo-sm" /><span class="online-dot"></span></li>
                      <li>Bell</li>
                    </ul>
                  </a>
               </div>
             
