<div class="profile-info">
    <img src="assets/images/users/default.jpg" alt="" class="img-responsive profile-photo" />

    <div class="profile-card" >
       <a routerLink="/setup"><button class="btn-danger">Create Your Account</button></a>
      <hr>
      <h5 class="text-white">mEvents Statistics</h5>
      <div class="text-white"><i class="stat-icon fa fa-users btn text-primary"></i>Registered Users</div>
      <br>
      <div class=" text-white"><i class="fa fa-briefcase  text-green"></i> 6790 Services</div>
      <br>
      <div class="text-white"><i class="stat-icon fa fa-users btn text-warning"></i>672 Providers</div>
      <br>
      <div class="text-white"><i class="stat-icon fa fa-diamond btn text-primary"></i>739 Public Events</div>
       
       
       
        <br/>
    </div><!--profile card ends-->
  </div>
