
        <div class="sign-up-form">
					<a href="index-2.html" class="logo"><img src="assets/images/logo.png" alt="Friend Finder"/></a>
					<h2 class="text-white">Univertives</h2>
					<div class="line-divider"></div>
					<div class="form-wrapper">
						<p class="signup-text">Signup now and join the productive team around the world</p>
						<form action="#">
							
							<fieldset class="form-group">
								<input type="email" class="form-control" id="email" placeholder="Enter Email Address">
							</fieldset>
						   <fieldset class="form-group">
							<input class="form-control" type="text" required=""  placeholder="Phone Number">
						   </fieldset>
						<fieldset class="form-group">
							<select class="form-control" >
								<option value="" disabled selected>
									Country
								</option>
								<option value="">Botswana</option>
								<option value="">Mozambique</option>
								<option value="">Namibia</option>
								<option value="">South Africa</option>
								<option value="">Zambia</option>
								<option value="">Zimbabwe</option>
							</select>
						</fieldset>
						<h4 class="text-white">Register As:</h4>
						<fieldset class="form-group">
						<input name="options" ng-control="options" type="radio" value="1"   >Student or Philathropist<br/>
						</fieldset>
						<fieldset class="form-group">
                          <input name="options" ng-control="options" type="radio" value="2" > University or Company <br/>
						</fieldset>
								<fieldset class="form-group">
								<input type="password" class="form-control" id="example-password" placeholder="Enter a password">
							</fieldset>

							<fieldset class="form-group">
								<input type="password" class="form-control" id="confirm-password" placeholder="Confirm password">
							</fieldset>
						</form>
						<button class="btn-secondary">Register</button>
					
					<img class="form-shadow" src="assets/images/bottom-shadow.png" alt="" />
				</div>
